.flex-container {
    display: flex;
    background-color: #000;
    margin: 10px;
    flex-wrap: wrap;
    border: 5px solid black;
    box-shadow: 10px 15px rgba(192,192,192,0.5)
}

.flex-item {
    flex: 1 150px;
    height: 150px;
    text-align: center;
    line-height: 100px;
    margin: 2px;
    background-color: #fff;
}

.flex-item2 {
    background-color: yellow;
    flex: 0 3 150px;
    height: 150px;
    text-align: center;
    line-height: 100px;
    margin: 2px;
}

.flex-item3 {
    background-color: blue;
    flex: 1 150px;
    height: 150px;
    text-align: center;
    line-height: 100px;
    margin: 2px;
}

.flex-item5 {
    background-color: red;
    flex: 0 10 150px;
    height: 150px;
    text-align: center;
    line-height: 100px;
    margin: 2px;
}

.flex-item6 {
    background-color: red;
    flex: 1 150px;
    height: 150px;
    text-align: center;
    line-height: 100px;
    margin: 2px;
}

.flex-item7 {
    background-color: black;
    flex: 1 150px;
    height: 150px;
    text-align: center;
    line-height: 100px;
    margin: 2px;
}

.flex-item9 {
    background-color: yellow;
    flex: 1 150px;
    height: 150px;
    text-align: center;
    line-height: 100px;
    margin: 2px;
}

.flex-item13{
    background-color: blue;
    flex: 1 150px;
    height: 150px;
    text-align: center;
    line-height: 100px;
    margin: 2px;
}

.flex-item11{
    background-color: yellow;
    flex: 1 150px;
    height: 150px;
    text-align: center;
    line-height: 100px;
    margin: 2px;
}

.flex-item10 {
    background-color: blue;
    flex: 1 150px;
    height: 150px;
    text-align: center;
    line-height: 100px;
    margin: 2px;
}

.flex-item14 {
    background-color: red;
    flex: 1 150px;
    height: 150px;
    text-align: center;
    line-height: 100px;
    margin: 2px;
}

.flex-item16 {
    background-color: blue;
    flex: 1 150px;
    height: 150px;
    text-align: center;
    line-height: 100px;
    margin: 2px;
}

.flex-item18 {
    background-color: yellow;
    flex: 1 150px;
    height: 150px;
    text-align: center;
    line-height: 100px;
    margin: 2px;
}

.flex-item19 {
    background-color: black;
    flex: 0 10 150px;
    height: 150px;
    text-align: center;
    line-height: 100px;
    margin: 2px;
}

.flex-item20 {
    background-color: yellow;
    flex: 1 150px;
    height: 150px;
    text-align: center;
    line-height: 100px;
    margin: 2px;
}

.flex-item21 {
    background-color: red;
    flex: 0 15 150px;
    height: 150px;
    text-align: center;
    line-height: 100px;
    margin: 2px;
}

.flex-item22 {
    background-color: black;
    flex: 1 150px;
    height: 150px;
    text-align: center;
    line-height: 100px;
    margin: 2px;
}


.flex-item23 {
    background-color: yellow;
    flex: 0 10 150px;
    height: 150px;
    text-align: center;
    line-height: 100px;
    margin: 2px;
}

.flex-item24 {
    background-color: red;
    flex: 1 150px;
    height: 150px;
    text-align: center;
    line-height: 100px;
    margin: 2px;
}

.flex-item25 {
    background-color: blue;
    flex: 1 1 150px;
    height: 150px;
    text-align: center;
    line-height: 100px;
    margin: 2px;
}